<div id = "setHight">
<div id = "scroll">
<div>
  <div id = "heading">
    {{this.data.getItem.split("@",3)[0]}}
  </div>
  <div>
     <u> {{this.data.getItem.split("@",3)[1]}}</u>
  </div>
<div  *ngIf="displayDataOnscreen.askprerequests=='yes';else noprerequest">
  <div id = "heading">
  Prerequests
</div>
  <div id = "prerequestStyle"> 
    <div id = "marginlatout">
  <div  *ngFor="let item of displayDataOnscreen.prerequestsofcodeBase;let i = index">
     <div>   {{i+1}}.{{displayDataOnscreen.prerequestsofcodeBase[i]}}</div>
      <div  [innerHTML] = "displayDataOnscreen.prerequestsCodeofcodeBase[i]"></div>
      
  </div>
</div>
</div>

    


</div>


</div>
<ng-template #noprerequest>
    No there are no prerequest
    </ng-template>
    <div id="heading">
        steps
      </div>
      <div id = "prerequestStyleforcode"> 
          <div id = "marginlatout">
      <div *ngFor="let item of displayDataOnscreen.stepsofcodeBase;let i = index">
       <div> {{i+1}}.{{displayDataOnscreen.stepsofcodeBase[i]}}</div>
        <span  [innerHTML] = "displayDataOnscreen.codeForCodeBaseSteps[i]"></span>
    </div>
    </div>

</div>

<br>
<br>


<div id = "centerit">
    <button id = "styleButton" (click)="onNoClick()">No Thanks</button>
</div>