#valuebtns{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
    grid-row-gap: 20px;
    

  }
  #valuebtn{

    border-radius: 15px ;

  }
  #valuebtn:hover{

    background-color: black;
    color: white;

  }
  #divideTwoHalf{
      display: grid;
      grid-template-columns: 50% 50%;
  }

  .scrollablemenu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: 100%;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}