

<div id = "yesScreen">

  <h1 id = "butify">
    Kindly Open in Desktop view 
  </h1>
</div>


<div id  = "noScreen">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">CodeBase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="sendit"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="sendit"><span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link" routerLink="sendit">Add Data<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Edit"> Edit Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create_sub_topic">Create Sub topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="storyBorad"> Story Borad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="display_graph"> Architecture</a>
        </li>
       
      </ul>
    </div>
  </nav>



  <div id = "">

  </div>

<router-outlet></router-outlet>

<div class="fab" routerLink="create_sub_topic"> + </div>

</div>