<div class="container">
    <div class="center">
        <mat-form-field id="inputtext">
            <input [(ngModel)]="taskName" matInput placeholder="Enter the task name">


        </mat-form-field>
        <br>

        <mat-form-field id="inputtext">
            <mat-label>Select Topic</mat-label>
            <mat-select [(ngModel)]="seletedTopic">
                <mat-option *ngFor="let topic of topics" [value]="topic"  (click) = "getSubTopic()"  >
                    {{topic}}
                </mat-option>
            </mat-select>
        </mat-form-field>


<br>    
        <mat-form-field id="inputtext">
                <mat-label>Select Sub Topic</mat-label>
                <mat-select [(ngModel)]="seletedsubTopic">
                    <mat-option *ngFor="let subtopic of subtopics" [value]="subtopic">
                        {{subtopic}}
                    </mat-option>
                </mat-select>
            </mat-form-field>



        <div>  
            <textarea [(ngModel)]="desc" name="" id="" cols="45" rows="3"
                placeholder="Enter the Descpriction of the task"></textarea>
            <br>
            <mat-slide-toggle class="example-margin" [(ngModel)]="askprerequest" [color]="color" [checked]="checked"
                [disabled]="disabled">
                Is there any Prerequest
            </mat-slide-toggle>
        </div>
        <br>


        <div *ngIf="!askprerequest">
            ****There are no Prerequest for this task****
        </div>


    </div>

    <div *ngIf="askprerequest">
        <div *ngFor="let prerequest of prerequests ; let i = index;">
            <mat-form-field id="inputtext">
                <input [(ngModel)]="prerequestsofcodeBase[i]" matInput
                    placeholder="Enter the prerequest {{prerequest}}">
            </mat-form-field>
            &nbsp;
            <button class="inordes" type="button" class="btn btn-secondary" (click)="subRequest()">-</button>
            &nbsp;
            <button class="inordes" type="button" class="btn btn-secondary" (click)="addRequest()">+</button>
            &nbsp;&nbsp;
            <span *ngIf="!this.openCodeBaseValuesforPrerequest.includes(prerequest)">
                <button mat-raised-button (click)="openCodeBaseForPrequest(prerequest)">
                    Open Codebase
                </button>
            </span>


            <span *ngIf="this.openCodeBaseValuesforPrerequest.includes(prerequest)">
                <button mat-raised-button (click)="closeCodeBaseForPrerequest(prerequest)">
                    close CodeBase
                </button>

            </span>







            <div *ngIf="this.openCodeBaseValuesforPrerequest.includes(prerequest)">

                <quill-editor [(ngModel)]="prerequestsCodeofcodeBase[i]"></quill-editor>


            </div>




        </div>

    </div>


    <hr>
    <div>
        <div *ngFor="let step of steps; let i = index;">


            <mat-form-field id="inputtext">
                <input [(ngModel)]="stepsofcodeBase[i]" matInput placeholder="Enter the {{step}} step">
            </mat-form-field>
            &nbsp;
            <button class="inordes" type="button" class="btn btn-secondary" (click)="subStep()">-</button>
            &nbsp;
            <button class="inordes" type="button" class="btn btn-secondary" (click)="addStep()">+</button>
            &nbsp;&nbsp;


            <span *ngIf="!this.openCodeBaseValues.includes(step)">
                <button mat-raised-button (click)="openCodeBaseForSteps(step)">
                    Open Codebase
                </button>
            </span>


            <span *ngIf="this.openCodeBaseValues.includes(step)">
                <button mat-raised-button (click)="closeCodeBaseForSteps(step)">
                    close CodeBase
                </button>

            </span>




            <div *ngIf="this.openCodeBaseValues.includes(step)">
                <quill-editor [(ngModel)]="codeForCodeBaseSteps[i]"></quill-editor>
            </div>
        </div>
    </div>

    <div>
        <button mat-raised-button (click)="consoleitinlog()">
            Console It
        </button>


    </div>
</div>