


<div id="heading">
    {{sendid}} Tasks
</div>

<br>
<br>

<div   class="container">
<div >
    <div *ngFor="let item of onDisplay">
        <button (click) = "getdataIntoHtml(item)" >
                {{item}}
        </button>
    </div>
</div>
    <br>
    <br>
    <div   >
<div *ngFor="let item of displayData" >
    <div class="card"  (click)="openDialog(item)" >

        <div id = "displayFlex" >
        {{item.split("@",3)[0]}}
    </div>
        <br>
        <div id = "displayFlex">
        {{item.split("@",3)[1]}}
    </div>
        
        
    </div>
<br>
<br>
</div> 
</div>


</div>



<!-- use latter -->
<!-- <div>
<div>
    {{item.seletedTopic}}

</div>

<div>
    {{item.desc}}
</div>
<div>
    {{item.askprerequests}}
</div>

<span  innerHTML =  "{{item.codeForCodeBaseSteps[0]}}">
   
</span>
<div>
    {{
    item.openCodeBaseValues
}}
</div>
<style>
    pre:hover{
    background: blue;
    font-size: 24px;
}
    </style>
<div>

</div>
</div> -->