.fixedbox{
    width: 150px;
    height: 150px;
border:2px solid black;
    border-radius: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.fixedbox:hover{
    background: black;
    color: #ffffff;
    box-shadow: 2px 5px #888888;
}
#displayGrid{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 2% ;

} 
a{
    text-emphasis: none;
    text-decoration: none;
}
